node_modules
vendor
.env
.env.local
npm-debug.log
yarn-error.log
.git
.gitignore
.DS_Store
*.log
.vscode
.idea
*.swp
*.swo
*~
.cache
.npm
dist
build
.docker
Dockerfile
Dockerfile.node
docker-compose.yml
docker-compose.*.yml
.dockerignore
